
@model Student_Admission.Data.ViewModel.VMStudent



<div class="card shadow border-0 my-4">
    <div class="py-3 card-header bg-secondary bg-gradient col-12">
        <h2 class="text-white text-center">Student Portal- Admission Form</h2>
    </div>
    <div class="card-body">
        <form method="post">
            <input asp-for="AdmissionForm.SNo" hidden />
         <div class="row">
         <div class= "col-2">
             <label asp-for="@Model.AdmissionForm.SName">Student Name</label>
             
         </div>
         <div class="col-4">
             <input asp-for="@Model.AdmissionForm.SName" type="text" class="form-control"  />
                    <span asp-validation-for="AdmissionForm.SName" class="text-danger"></span>
         </div>
            <div class="col-2">
                <label asp-for="AdmissionForm.FName">Father Name</label>
            </div>
            <div class="col-4">
                <input asp-for="@Model.AdmissionForm.FName" type="text" class="form-control shadow-lg" />
            </div>
            </div>
            <div class="row py-3">
                <div class="col-2">
                    <label asp-for="AdmissionForm.Class">Class</label>
                </div>
                <div class="col-4">
                    <select asp-for="@Model.AdmissionForm.Class" class="form-select shadow text-center">
                        <option class="text-center" disabled selected>--Select Class--</option>
                        <option>1st Year</option>
                        <option>2nd Year</option>
                        <option>3rd Year</option>
                        <option>4th Year</option>
                    </select>
                </div>
                <div class="col-2">
                    <label asp-for="AdmissionForm.Section">Section</label>
                </div>
                <div class="col-4">
                    <select asp-for="@Model.AdmissionForm.Section" class="form-select shadow text-center">
                        <option class="text-center" disabled selected>--Select Section--</option>
                        <option>Section-A</option>
                        <option>Section-B</option>
                        <option>Section-C</option>
                        
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    <label asp-for="AdmissionForm.admissionDate">Admission Date</label>
                </div>
                <div class="col-4">
                    <input asp-for="@Model.AdmissionForm.admissionDate" class="form-control shadow" type="date" />
                    <span asp-validation-for="AdmissionForm.admissionDate"></span>
                </div>
                <div class="col-3 ">
                    <button id="SubmitForm" asp-action="AddRecord" type="submit" class="btn btn-outline-success form-control ">Submit</button>
                </div>
                <div class="col-3">
                   
                    <button id="CancelForm" asp-action="" type="submit" class="btn btn-outline-warning form-control">Cancel</button>
                </div>
            </div>

            <table class="table table-bordered table-striped my-5">
                <thead>
                    <tr>
                        <th>Serial No</th>
                        <th> Student Name</th>
                        <th> Father Name</th>
                        <th> Class</th>
                        <th>Section</th>
                        <th>Admission Date</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var obj in Model.MyList)
                    {
                        <tr>
                            <td>@obj.SNo</td>
                            <td> @obj.SName</td>
                            <td>@obj.FName</td>
                            <td>@obj.Class</td>
                            <td>@obj.Section</td>
                            <td>@obj.admissionDate</td>
                            <td>

                                <button asp-action="Delete" asp-route-id="@obj.SNo" type="submit" id="btnDelete" class="btn btn-danger"> Delete</button>

                                <button asp-action="Privacy" asp-route-id="@obj.SNo" type="submit" id="btnEdit" class="btn btn-primary ">
                                    
                                    Edit
                                </button>

                            </td>
                        </tr>

                    }

                </tbody>
            </table>
        </form>
  
    </div>
</div>